<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ipp.estg.cmu_exerciseyourself">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_running"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_running_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppBarDemonstration.NoActionBar">
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAVtzezHmsTxw39qVFdCyPa0b__DspMCW0"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main" />
        <activity
            android:name="pt.ipp.estg.cmu_exerciseyourself.ui.authentication.AuthenticationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".services.BackgroundTrackActivity"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

    <queries>
        <package android:name="com.google.android.apps.maps" />
    </queries>

</manifest>